@tailwind base;
@tailwind components;
@tailwind utilities;
@layer {
  @import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');
 p{
   font-family: "Amiri Quran", serif;
   font-weight: 400;
   font-style: normal;
 }
}
* {
  transition: 0.1s;
}
body {
  direction: rtl;
}

.loader {
  height: 27.5;
  width: 55px;
  transform-origin: center;
  overflow: visible;
}

.car {
  fill: none;
  stroke: black;
  stroke-dasharray: 15, 85;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: travel 1.3s linear infinite;
  will-change: stroke-dasharray, stroke-dashoffset;
  transition: stroke 0.5s ease;
}

.track {
  stroke: black;
  opacity: 0.1;
}

@keyframes travel {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 100;
  }
}

.select {
  position: relative;
}

select {
  appearance: none;
  padding: 0.5rem 1rem;
  border:solid 1px #e1e1e1;
  background: #ffffff url(https://res.cloudinary.com/davmi4pnk/image/upload/v1737534845/select_aocktb.svg) no-repeat 100% 45% !important;  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  outline: none;
}

select option {
  background-color: transparent;
  color: #4b5563;
}
select:focus {
  border-color: #6b728080;
  box-shadow: 0 0 0 1px #6b7280b0;
}
